* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.block {
  height: 40px;
  background-color: purple;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.block h3 {
  color: orange;
  width: 400px;
}

.block p {
  color: #fff;
}

header {
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 50px;
  background: white;
  color: #fff;
 
}

.box {
  height: 47px;
  width: 174px;
  background-image: url(Group\ 31.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

h4 {
  color: #fff;
}

button {
  background-color: purple;
  height: 43px;
  width: 250px;
  border: none;
}

.box2 {
  color: white;
}

.box3 {
  height: 100vh;
  background-image: url(Rectangle\ 80.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

}

.box4 {
  height: 100vh;
  background-image: url(Rectangle\ 112.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  align-items: center;
}

h1 {
  color: white;
  
  

}

.box4 p {
  
  margin-top: 20px;
}

.box4 button {
  background-color: rgb(236, 171, 49);
  height: 60px;
  width: 300px;
  border: 0px;
  
  margin-top: 30px;
}
.wats{
  width: 40px;
  height: 40px;
   background-image: url(Vector.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inst{
  width: 40px;
  height: 40px;
   background-image: url(instagram-sketched.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.face{
  width: 40px;
  height: 40px;
   background-image: url("facebook\ \(2\)\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon{
  display: flex;
  flex-direction: column;
  gap: 40px;


}

.box5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.line {
  width: 645px;
  height: 1px;
  border: 1px solid gray;
}
.line1{
   width: 639px;
  height: 1px;
  border: 1px solid gray;
}
.line3{
   width: 632px;
  height: 1px;
  border: 1px solid gray;
}
.line4{
   width: 660px;
  height: 1px;
  border: 1px solid gray;
}
.line5{
   width: 630px;
  height: 1px;
  border: 1px solid gray;
}
.line6{
   width: 630px;
  height: 1px;
  border: 1px solid gray;
}

.box5 h1 {
  font-size: 30px;
  color: black;
  margin: 0 auto;
}

.in {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.in1 {
  width: 268px;
  height: 403px;
  background-color: white;
  border: 1px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
  text-align: center;
}

.in1 h2 {
  color: black;
  margin-top: 10px;
  width: 220px;

}

.in1 p {
  color: black;
  width: 210px;

}

.in2 {
  height: 126px;
  width: 184px;
  background-image: url(Group.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.in1 h3 {
  color: plum;
  margin-top: 40px;
}

.in4 {
  height: 126px;
  width: 184px;
  background-image: url('Group\ \(1\).png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.in5 {
  height: 126px;
  width: 184px;
  background-image: url('Group\ \(2\).png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.in6 {
  height: 126px;
  width: 184px;
  background-image: url('Group\ \(3\).png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dddd {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.box7 {
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

}

.in7 {
  width: 400px;
  height: 300px;
  background-image: url(Rectangle\ 78.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.in8 {
  width: 400px;
  height: 300px;
  background-image: url(Карточка\ 2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.in9 {
  width: 400px;
  height: 300px;
  background-image: url(Rectangle\ 79.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.in10 {
  width: 400px;
  height: 300px;
  background-image: url(Rectangle\ 80.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.in11 {
  width: 400px;
  height: 300px;
  background-image: url(Rectangle\ 81.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.in12 {
  width: 400px;
  height: 300px;
  background-image: url(Rectangle\ 83.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box10 {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.in13 {
  width: 400px;
  height: 300px;
  background-image: url(Rectangle\ 84.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
}

.in14 {
  width: 400px;
  height: 300px;
  background-image: url(Rectangle\ 85.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
}

.in15 {
  width: 400px;
  height: 300px;
  background-image: url(Rectangle\ 86.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
}

.box13 {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  gap: 20px;

}

.hhhh {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.in16 {
  width: 270px;
  height: 472px;
}

.in17 {
  width: 270px;
  height: 389px;
  background-image: url(Rectangle\ 78.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.in16 p {
  color: black;
}

.in16 h1 {
  color: plum;
}

.in18 {
  width: 270px;
  height: 389px;
  background-image: url(Rectangle\ 79.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.in19 {
  width: 270px;
  height: 389px;
  background-image: url(Rectangle\ 80.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.in20 {
  width: 270px;
  height: 389px;
  background-image: url(Rectangle\ 83.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.bon {
  height: 56px;
  margin-top: 30px;
  background-image: url(Наши\ Клиенты.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.in21 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1px;
}

.in22 {
  height: 170px;
  width: 150px;
  background-image: url(nike-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box14 {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align:start;

}

.in24 {
  height: 440px;
  width: 370px;
  background-image: url(Rectangle\ 122.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
   
 
}

.box14 h1 {
  color: black;
margin-left: 0px;
}

.box14 h3 {
  color: gray;
 
}

.in25 {
  height: 440px;
  width: 370px;
  background-image: url(Rectangle\ 120.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
}

.in26 {
  height: 440px;
  width: 370px;
  background-image: url(Rectangle\ 121.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
}

.box15 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 80px;
}

.box15 h1 {
  color: black;
}

.box15 h3 {
  color: gray;
}

.box16 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 40px;
}

input {
  width: 315px;
  height: 50px;
  border: 1px solid gainsboro;
  background-color: whitesmoke;
  padding: 10px;
}
p
.btn {
  height: 226px;
  height: 48px;
  background-color: purple;
}

.box16 h2 {
  color: white;
}

.box17 {
  height: 320px;
  background-color: rgb(44, 42, 42);
  margin-top: 20px;
}

.in27 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: start;
}

.in27 p {
  width: 320px;
  color: grey;
  margin: 0 auto;

}

.in27 h2 {
  margin-top: 20px;
  color: white;
}

.in27 h3 {
  color: whitesmoke;

}

.in28 h1{
   font-size: 20px;
  margin-left: 0px;
  color: gray;
 
  
}

.in29 h1{
 font-size: 20px;
 margin-left: 0px;
 color: gray;
  

}

.box13 h3 {
  color: rgb(86, 11, 156);

}

.hhhh h3 {
  color: rgb(86, 11, 156);
}

.bin {
  font-size: 50px;
  width: 500px;
}

.bin1 {
  font-size: 20px;
  width: 500px;

}

.box4 {
  color: white;
}