* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.block {
  height: 40px;
  background-color: purple;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block h3 {
  color: orange;
}

p {
  color: white;

}

header {
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 50px;
  background: white;
  color: #fff;
 border: 1px solid gray;
}

.in {
  height: 47px;
  width: 174px;
  background-image: url(Group\ 31.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

h4 {
  color: #fff;
}

button {
  background-color: purple;
  height: 43px;
  width: 250px;
  border: 0px;
}

a {
  color: purple;
}

a:hover {
  color: orange;
}

.in1 {
  height: 56px;
  background-image: url(Наши\ услуги.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;

}

.in3 {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  padding: 10px;
  grid-gap: 20px;
  grid-template-areas:
    "box1 box2 box3 "
    "box4 box5 box3"
    "box6 box6 box7"
  ;
}

.box {
  text-align: end;
}

.box1 {
  grid-area: box1;
  width: 368px;
  height: 342px;
  background-image: url(Rectangle\ 151.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
}

.box2 {
  grid-area: box2;
  width: 368px;
  height: 342px;
  background-image: url(Rectangle\ 153.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
}

.box3 {
  grid-area: box3;
  width: 368px;
  height: 700px;
  background-image: url(Rectangle\ 146.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
}

.box4 {
  grid-area: box4;
  width: 368px;
  height: 342px;
  background-image: url(Rectangle\ 151.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
}

.box5 {
  grid-area: box5;
  width: 368px;
  height: 342px;
  background-image: url(Rectangle\ 153.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
}

.box6 {
  grid-area: box6;
  width: 768px;
  height: 342px;
  background-image: url(Rectangle\ 151.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
}

.box7 {
  grid-area: box7;
  width: 368px;
  height: 342px;
  background-image: url(Rectangle\ 153.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: end;
}

.in5 {
  width: 600px;
  margin: 0 auto;
  height: 42px;
  background-image: url(Наши\ преимущества.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;

}

.in6 {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 40px;
}

.in7 {
  height: 48px;
  width: 48px;
  background-image: url(clock\ 2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.in8 {
  height: 48px;
  width: 48px;
  background-image: url(book\ 2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.in9 {
  height: 48px;
  width: 48px;
  background-image: url(settings\ 2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.in10 {
  height: 48px;
  width: 48px;
  background-image: url(task\ 2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.in11 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;

}
.in11 h3{
  width: 180px;
  text-align: center;
}

.box15 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 80px;
}

.box15 h1 {
  color: black;
}

.box15 h3 {
  color: gray;
}

.box16 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 40px;
}

input {
  width: 315px;
  height: 50px;
  border: 0px;
  background-color: whitesmoke;
   padding: 10px;
}

.btn {
  height: 226px;
  height: 48px;
  background-color: purple;
}

.box16 h2 {
  color: white;
}

.box17 {
  height: 320px;
  background-color: rgb(44, 42, 42);
  margin-top: 20px;
}

.in27 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: start;
}

.in27 p {
  width: 320px;
  color: grey;
  margin: 0 auto;

}

.in27 h2 {
  margin-top: 20px;
  color: white;
}

.in27 h3 {
  color: whitesmoke;

}



.box13 h3 {
  color: rgb(86, 11, 156);

}

.hhhh h3 {
  color: rgb(86, 11, 156);
}

.bin {
  font-size: 50px;
  width: 500px;
}

.bin1 {
  font-size: 20px;
  width: 500px;
  margin-top: 80px;
}

.in3 h2 {
  color: #fff;
  display: flex;
  text-align: end;
  justify-content: start;
  align-items: end;
  margin-left: 10px;
  margin-top: 20px;
}

.in45 h2 {
  color: #fff;
  display: flex;
  text-align: end;
  justify-content: start;
  align-items: end;
  margin-left: 20px;
  margin-bottom: 20px;
}

.in46 h2 {
  color: #fff;
  display: flex;
  text-align: end;
  justify-content: start;
  align-items: end;
  margin-left: 20px;
  margin-bottom: 20px;
}

.in47 h2 {
  color: #fff;
  display: flex;
  text-align: end;
  justify-content: start;
  align-items: end;
  margin-left: 20px;
  margin-bottom: 20px;
}

.in48 h2 {
  color: #fff;
  display: flex;
  text-align: end;
  justify-content: start;
  align-items: end;
  margin-left: 20px;
  margin-bottom: 20px;
}

.in49 h2 {
  color: #fff;
  display: flex;
  text-align: end;
  justify-content: start;
  align-items: end;
  margin-left: 20px;
  margin-bottom: 20px;
}

.in50 h2 {
  color: #fff;
  display: flex;
  text-align: end;
  justify-content: start;
  align-items: end;
  margin-left: 20px;
  margin-bottom: 20px;
}

.box17 {
  height: 320px;
  background-color: rgb(44, 42, 42);
  margin-top: 20px;
}

.in27 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: start;
}

.in27 p {
  width: 320px;
  color: grey;
  margin: 0 auto;

}

.in27 h2 {
  margin-top: 20px;
  color: white;
}

.in27 h3 {
  color: whitesmoke;

}

.in28 {
  font-size: 10px;
  margin-left: 0px;
  color: gray;
 
}

.in29 {
   font-size: 10px;
  margin-left: 0px;
  color: gray;
 
}

.box13 h3 {
  color: rgb(86, 11, 156);

}

.hhhh h3 {
  color: rgb(86, 11, 156);
}

.bin {
  font-size: 50px;
  width: 500px;
}

.bin1 {
  font-size: 20px;
  width: 500px;
  margin-top: 80px;
}

.line1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.line {
  width: 620px;
  height: 1px;
  background-color: gray;
}

.box5 h1 {
  font-size: 33px;
  color: black;
  margin: 0 auto;
}
.line4{
  width: 586px;
  height: 1px;
  background-color: gray;
}
.line3{
  width: 649px;
  height: 1px;
  background-color: gray;
}
